<div class="home-div">
    <h1 class="home">Home</h1>
    <h2 class="home-h2">Welcome to LeSuave</h2>
    <h3 class="home-h3">Have class, have style, le suave</h3>
    <div class="link">
        <%= link_to 'View Posts', controller: 'posts' %>
    </div>
    <br>
</div>